[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
django-cors-headers = "*"
django-rest-registration = "*"
cloudinary = "*"
django-heroku = "*"
psycopg2-binary = "*"
drf-yasg = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
